@{
  Layout = "_Layout";
}

@model TravelTracker.Models.Destination
<h1>@Html.Label($"Add a Traveller for {Model.CityName}")</h1>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.DestinationId)
  <div class="form-group">
    @Html.Label("Select Traveller")
    @Html.DropDownList("TravellerId", null, new { @class="form-control"})
  </div>
  <div class="form-group">
    <label for="startDate">Start of Visit</label>
    <input type="date" name="startDate" id="startDate" class="form-control" required=true />
  </div>
  <div class="form-group">
    <label for="endDate">End of Visit</label>
    <input type="date" name="endDate" id="endDate" class="form-control" required=true />
  </div>
  <input type="submit" value="Add new Traveller" class="btn btn-outline-dark"/>
}
<hr />
<h5>@Html.ActionLink("Back to Destination Details", "Details", new { id = Model.DestinationId })</h5>