@{
  Layout = "_Layout";
}

@model TravelTracker.Models.Destination

<h3>@Html.Label($"{Model.CityName} Details")</h3>
<hr />

@if (@Model.Trips.Count == 0)
{
  <h3>No Travellers have Visited this Destination!</h3>
}
else
{
  <h5>Visited By</h5>
  @foreach(var join in Model.Trips)
  {
    <h3>@Html.ActionLink($"{join.Traveller.Name}", "Details", "Travellers", new { id = join.Traveller.TravellerId })</h3>
    <h5>@Html.Label(join.StartDate.ToString("MMMM d, yyyy")) - @Html.Label(join.EndDate.ToString("MMMM d, yyyy"))</h5>
    <h5>@Html.ActionLink("Edit", "Edit", "Trips", new { id = join.TripId}) | @Html.ActionLink("Delete", "Delete", "Trips", new {id = join.TripId })</h5>
  }
}
<hr/>
<h5>@Html.ActionLink("Add Traveller to this Destination", "Create", "Travellers", new { id = Model.DestinationId })</h5>
<h5>@Html.ActionLink("Edit Destination", "Edit", new { id = Model.DestinationId })</h5>
<h5>@Html.ActionLink("Remove Destination", "Delete", new { id = Model.DestinationId })</h5>