@{
  Layout = "_Layout";
}

@model TravelTracker.Models.Club

<h3>@Html.Label($"Add a Member to {Model.Name}")</h3>
<hr />

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClubId)
  <div class="form-group">
    @Html.Label("Select Traveller")
    @Html.DropDownList("TravellerId", null, new { @class="form-control"})
  </div>
  <input type="submit" value="Add Traveller" class="btn btn-outline-dark"/>
}
<hr />
<h5>@Html.ActionLink("Back to Clubs", "Index")</h5>