@{
  Layout = "_Layout";
}

@model TravelTracker.Models.Traveller
<h1>@Html.Label($"Add a Destination for {Model.Name}")</h1>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TravellerId)
  <div class="form-group">
    @Html.Label("Select Destination")
    @Html.DropDownList("DestinationId", null, new { @class="form-control"})
  </div>
  <div class="form-group">
    <label for="visitDate">Date of Visit</label>
    <input type="date" name="visitDate" id="visitDate" class="form-control" required=true />
  </div>
  <input type="submit" value="Add new Destination" class="btn btn-outline-dark"/>
}
<hr />
<h5>@Html.ActionLink("Back to Traveller Details", "Details", new { id = Model.TravellerId })</h5>