@{
  Layout = "_Layout";
}

@model TravelTracker.Models.Traveller

<h3>@Html.Label($"{Model.Name}'s Details")</h3>
<hr />

@if(@Model.Destinations.Count == 0)
{
  <h3>This Traveller Has Not Visited Any Destinations</h3>
}
else
{
  <h5>Destinations Visited</h5>
  @foreach (var join in Model.Destinations)
  {
    <h3>@Html.ActionLink($"{join.Destination.CityName}", "Details", "Destinations", new { id = join.Destination.DestinationId })</h3>
    @using (Html.BeginForm("DeleteDestination", "Travellers", new { id = Model.TravellerId }))
    {
      @Html.Hidden("joinId", @join.DestinationTravellerId)
      <input type="submit" value="Delete" class="btn btn-outline-dark" />
    }
  }
}
<hr />
<h5>@Html.ActionLink("Back to Travellers", "Index")</h5>
<h5>@Html.ActionLink("Add Destination to this Traveller", "AddDestination", new { id = Model.TravellerId })</h5>
<h5>@Html.ActionLink("Edit Traveller", "Edit", new { id = Model.TravellerId })</h5>
<h5>@Html.ActionLink("Delete Traveller", "Delete", new { id = Model.TravellerId })</h5>
<h5>@Html.ActionLink("Back Home", "Index", "Home")</h5>