@{
  Layout = "_Layout";
}

@model TravelTracker.Models.Traveller

<h2>Traveller Details</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Destinations.Count == 0)
{
  <p>This Traveller has not been to any Destinations</p>
}
else
{
  <h4>Destinations this Traveller has visited:</h4>
  <ul>
    @foreach (var join in Model.Destinations)
    {
      <li>@join.Destination.CityName</li>
      @using (Html.BeginForm("DeleteDestination", "Travellers", new { id = Model.TravellerId }))
      {
        @Html.Hidden("joinId", @join.DestinationTravellerId)
        <input type="submit" value="Delete" class="btn btn-outline-dark" />
      }
    }
  </ul>
}
<hr />
<h5>@Html.ActionLink("Back to Travellers", "Index")</h5>
<h5>@Html.ActionLink("Add Destination to this Traveller", "AddDestination", new { id = Model.TravellerId })</h5>
<h5>@Html.ActionLink("Edit Traveller", "Edit", new { id = Model.TravellerId })</h5>
<h5>@Html.ActionLink("Delete Traveller", "Delete", new { id = Model.TravellerId })</h5>
<h5>@Html.ActionLink("Back Home", "Index", "Home")</h5>